<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779996912209-m2d1lrjk0goomj4k810s3l0n8ft1slnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779996912209-m2d1lrjk0goomj4k810s3l0n8ft1slnp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>779996912209-sk635119sa4m752lmeltaurlu6lk2jh3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqx-8Ng9A4yQoSi087URCP-VqGt9zVZS4</string>
	<key>GCM_SENDER_ID</key>
	<string>779996912209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aurora.app</string>
	<key>PROJECT_ID</key>
	<string>aurora-f4b4b</string>
	<key>STORAGE_BUCKET</key>
	<string>aurora-f4b4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779996912209:ios:d29902f74d5dbb7a83b670</string>
</dict>
</plist>